.HeaderContainer {
  display: flex;
  margin-left: 1000px;
  margin-top: 15px;
  position: fixed;
  overflow: visible;
  height: 34px;
  z-index: 1;
  top: 0;

}

.HeaderContainer a {
  text-decoration: none;
}

.Header {
  display: flex;
}

.Header ul a {
  font-family: Overpass;
  font-weight: 400;
  font-size: 18px;
  line-height: 27.58px;
  color: black;
  margin: 42px;
}

.Header a:hover {
  border-bottom: 2px solid #62f8d4;
}

.Header ul a.Header__Contact {
  background: #62f8d4;
  color: white;
  font-weight: 600;
  font-size: 18px;
  margin: auto;
  padding: 3px 11px;
}

.Header__IconContainer {
  display: flex;
  flex-direction: column;
  margin-left: 42px;
}

.Header img {
  width: 41px;
  height: 41px;
  margin: 12px;
}
