.RandomFunFact__Container {
  text-align: center;
  width: 400px;
  margin: auto;
  height: 225px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.RandomFunFact__Container__Button {
  background: #62f8d4;
  color: white;
  font-weight: 600;
  font-size: 18px;
  margin: auto;
  padding: 3px 11px;
  border: none;
  width: 493px;
  height: 74px;
  cursor: pointer;
  border-radius: 4px;
}

.RandomFunFact__Container__Text {
  font-size: 18px;
  margin-top: 25px;
  font-family: "Chakra Petch", monospace;
  position: relative;
  text-align: center;
  border: 3px dashed #000000;
  width: 493px;
  height: 95px;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 600px) {
  .RandomFunFact__Container {
    width: 375x;
  }
  .RandomFunFact__Container__Button {
    font-family: Overpass;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    height: 67px;
    padding: 21x 27px 21px 26px;
    width: 375px;
    margin-right: 24px;
  }
  .RandomFunFact__Container__Text {
    font-size: 16px;
    margin-top: 18px;
    border: 3px dashed #000000;
    width: 360px;
    height: 110px;
  }
}
