@import "./componentsCss/header.css";
@import "./componentsCss/footer.css";
@import "./componentsCss//project.css";
@import "./componentsCss//techstack.css";
@import "./componentsCss//randomFunFact.css";
@import "./componentsCss//contact.css";
@import "./componentsCss//timeline.css";
@import "./ScreensCss/HomeScreen.css";
@import "./ScreensCss/ContactScreen.css";
@import "./ScreensCss//BlogListScreen.css";
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.CTAContainer img {
  height: 4rem;
  width: 4rem;
}

.MainContainer {
  margin-left: 221px;
  margin-right: 332px;
  position: relative;
}

@media (max-width: 600px) {
  .MainContainer {
    margin: 0;
  }
}
