@import "header.css";
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap');
* {
  box-sizing: border-box;
  
}


.FooterContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: aqua;
  color: white;
  text-align: center;
}

.CTAContainer img {
  height: 4rem;
  width: 4rem;
}