.HeaderContainer {
  display: flex;
  justify-content: flex-end;
  height: 2rem;
  padding-top: 30px;
}

.HeaderContainer a {
  text-decoration: none;
}

.Header {
  display: flex;
}

.Header a {
  font-family: Overpass;
  font-weight: 400;
  font-size: 18px;
  line-height: 27.58px;
  left: 1082px;
  width: 74px;
  height: 28px;
  color: black;
  margin: 42px;
}
.Header__Contact {
  background: #62f8d4;
  width: 114px;
  height: 34px;
  top: 27px;
  color: white;
}

.Header__IconContainer{
  display: flex;
  flex-direction: column;
  
}

.Header img {
  width: 41px;
  height: 41px
}

